@import url(https://db.onlinewebfonts.com/c/6fa30b33b8490febed6db1beeadcff91?family=My+Puma);
.footer{
    background-color: black;
    width:100%;
    height: 80px;
    position: fixed;
    left: 0;
    bottom: 0;
    color:lightgray;
    display: flex;
    justify-content: space-between;
}
.footer>ul{
    margin-top: 30px;
    margin-right: 150px;
}
.footer>p{
    margin-left: 120px;
    font-family: "My Puma";
}